<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    {% block head %}{% endblock %}
</head>

<body>
    <nav class="nav">
        <a href="/"><img src="../static/images/home.png"/></a>
        <a href="/books"><img src="../static/images/book.png"/></a>
        <a href="/users"><img src="../static/images/user.png"/></a>
    </nav>
    {% block body %}{% endblock %}
</body>

</html>