{% extends './base.html' %}

{% block head %}
<title>Biblioteka</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Użytkownicy</h1>
    {% if users|length < 1 %}
        <h4>Brak użytkowników, dodaj pierwszego poniżej.</h4>

    {% else %}

    <table>
        <tr>
            <th>Imię i nazwisko</th>
            <th>Akcje</th>
        </tr>
        {% for user in users %}
        </tr>
            <td><a href = "/user/{{user.id}}">{{ user.name }}</a></td>
            <td>
                <a href="/users/delete/{{user.id}}">Usuń</a>
            </td>
        <tr>
        {% endfor %}

    </table>
    {% endif %}


    <form action="/users" method = "POST">
        <input type="text" name = "name" id = "name">
        <input type="submit" value="Dodaj użytkownika">
    </form>
    
</div>
{% endblock %}
