{% extends './base.html' %}

{% block head %}
<title>Library</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>users</h1>
    {% if users|length < 1 %}
        <h4>There are no users, add one below.</h4>

    {% else %}

    <table>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        {% for user in users %}
        </tr>
            <td>{{ user.name }}</td>
            <td>
                <a href="/users/delete/{{user.id}}">Delete</a>
            </td>
        <tr>
        {% endfor %}

    </table>
    {% endif %}


    <form action="/users" method = "POST">
        <input type="text" name = "name" id = "name">
        <input type="submit" value="Add user">
    </form>
    
</div>
{% endblock %}
